<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Ruby on Rails Tutorial Sample App</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
